h1 {
  text-align: center;
}

select {
  zoom: 150%;
}

.top {
  margin-top: -10px;
}

.chart {
  padding-bottom: 50px;
  max-height: 750px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowHigh {
  margin-top: -50px;
}

.selectTitle {
  font-size: 20px;
}

#myChart {
  width: 400px;
  height: 400px;
}